.main-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.area-form, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area-form {
    box-shadow: 4px 4px 4px 4px #ccc;
    padding: 30px 20px;
    margin: 100px 15px;
    width: 350px;

}

.area-form form {
    width: 100%;
}

.area-form form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 12px;
}

.btn-form {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-form:hover {
    background-color: #0056b3;
}