.main-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.produtos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}

.product {
    margin: 10px;
}


@media (max-width: 990px) {
    .produtos-list {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 400px) {
    .produtos-list {
        grid-template-columns: repeat(1, 1fr);
    }
}